<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer/welcome.css') }}">
</head>
<body style="background: url('{{ url_for('static', filename='images/restaurant.png') }}') no-repeat center center fixed; background-size: cover;">

    <div class="welcome-container">
        <h1>Welcome to Our Restaurant</h1>
        <a href="{{ url_for('menu') }}" class="button">Place Order</a>
    </div>
</body>
</html>
