/* File: static/css/customer/welcome.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
   
}


.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}


h1 {
    margin-bottom: 20px;
    font-size: 3.5rem;
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
    color: white;
}
